# Grandmaster Geospatial distribution Analysis

In [4]:
import numpy
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd

In [11]:
gm_df = pd.read_csv("List_of_chess_grandmasters.csv", header=0)
gm_df.sort_values("Title\nYear")

,Name,FIDE ID,Born,Birthplace,Died,Title\nYear,Federation,Sex,Notes
233,"Botvinnik, Mikhail",NaN,1911-08-17,Kuokkala,1995-05-05,1950,Soviet Union,M,later Russia
223,"Bondarevsky, Igor",NaN,1913-05-12,Rostov-on-Don,1979-06-14,1950,Soviet Union,M,Gaige; Di Felice
221,"Boleslavsky, Isaac",NaN,1919-06-09,Zolotonosha,1977-02-15,1950,Soviet Union,M,Gaige; Di Felice
1718,"Ståhlberg, Gideon",NaN,1908-01-26,Angered,1967-05-26,1950,Sweden,M,Gaige
1543,"Rubinstein, Akiba",NaN,1880-12-01,Stawiski,1961-03-15,1950,Poland,M,NaN
...,...,...,...,...,...,...,...,...,...
823,"Khanin, Semen",4111990.0,1999-05-23,Novosibirsk,NaN,2023,Russia,M,title application; IM title application
1443,Pranesh M,35028600.0,2006-08-26,Karaikudi,NaN,2023,India,M,title application; IM title application
1727,"Stefansson, Vignir Vatnar",2308649.0,2003,NaN,NaN,2023,Iceland,M,title application
931,Koustav Chatterjee,25073060.0,2003-07-21,Kolkata,NaN,2023,India,M,title application
179,"Berdayes Ason, Dylan Isidro",3516016.0,1998-05-15,Havana,NaN,2023,Cuba,M,title application; IM title application